body {
    background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.behance.net%2Fgallery%2F23287735%2FDog-Icons&psig=AOvVaw27MfC_oiUvnm23siVBS0v4&ust=1733241470573000&source=images&cd=vfe&opi=89978449&ved=2ahUKEwiN88niuYmKAxWdj2MGHadOGH0QjRx6BAgAEBk);
/* background-color: #0a0a23;
   */
}
  
  #text {
    background-color: #0a0a23;
    color: #ffffff;
    padding: 10px;
  }
  
  #game {
    max-width: 500px;
    max-height: 400px;
    background-color: #ffffff;
    color: #ffffff;
    margin: 30px auto 0px;
    padding: 10px;
  }
  
  #controls,
  #stats {
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #0a0a23;
  }
  
  #monsterStats {
    display: none;
    border: 1px solid #0a0a23;
    padding: 5px;
    color: #ffffff;
    background-color: #c70d0d;
  }
  
  .stat {
    padding-right: 10px;
  }
  
  button {
    cursor: pointer;
    color: #0a0a23;
    background-color: #feac32;
    background-image: linear-gradient(#fecc4c, #ffac33);
    border: 3px solid #feac32;
  }
